body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

#scrollableContent {
    overflow: auto;
    flex-grow: 1;
}

.jumbotron {
    background-color: #B373C5; 
    color: #ffffff; 
}

#controlsGroup {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border: 1px solid #B373C5; 
}

#itemList {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
#clearFilter{
    margin: 0 auto;
    height: 38px;
    top: 25px;
}
#editForm {
    background-color: #B373C5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    right: 0; 
    max-height: 90vh;
    overflow: auto; 
    z-index: 99;
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#editForm.mr-3{
    display: none; 
}
.form-control {
    margin-top: 25px;
}
.list-group-item {
    margin-bottom: 10px;
    border-radius: 5px;
}
.btn.btn-success{
    margin-top: 25px;
}
.btn {
    margin-right: 10px;
    background-color: #6D68CF;
    color: #ffffff; 
}
.btn:hover{ 
  background-color: #100f25; 
}
#closeEditForm.btn btn-danger btn-close{
 background-color: #e11023; 
}
.input-group {
    margin-bottom: 20px;
}
